body {
    color: #ffffff;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url(../images/fet-closeup.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-counter {
    width: auto;
    margin: 1rem;
    background-color:  rgba(0, 0, 0, 0.596);
    border-radius: 1%;
}

#wins-text {
    color: rgb(66, 255, 145);
}

#losses-text {
    color: rgb(165, 16, 16);
}

#player-guesses-list {
    color: rgb(34, 181, 240);
}

p {
    padding: 0rem 1rem .5rem 1rem;
}

h3,
h6 {
    padding: 0rem 1rem 0rem 1rem;
}

h1 {
    padding: 3rem 1rem 0rem 1rem;
}

.col-4 {
    background: rgba(3, 44, 41, 0.582);
    min-height: 800px;
    margin-left: 4rem;
}

#directions-text {
    color: #2b7a74;
    font-size: large;
    padding-top: 2rem;
}

#player-guesses-list {
    padding-bottom: 2rem;
}

#Remaining-Guesses {
    padding-bottom: 2rem;
}