body {
    color: #ffffff;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url(../images/fet-closeup.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.col-5 {
    background: rgba(1, 31, 28, 0.692);
    min-height: 800px;
    margin-left: 10%;
    padding-top: 3rem;
}

#directions-text {
    color: #6aaaa5;
    font-size: large;
}

#player-guesses-list {
    padding-bottom: 2rem;
}

h1, p {
    padding: 0rem 1rem 0rem 1rem;
}

h1 {
    padding-top: 3rem;
}