body {
    color: #ffffff;
    background: url(../images/sith-lord.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif
}

.container-left {
    padding: .5rem 0;
    max-width: 400px;
    margin: 5rem 0 0 3rem;
    background-color: rgba(49, 49, 49, 0.315);
    border-radius: 1%;
}

.container-counter {
    width: auto;
    margin: 1rem;
    border: solid 2px rgba(255, 0, 0, 0.301);
    border-radius: 1%;
}


p,
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    padding: .25rem 1rem .25rem 1rem;
}

